// Colors
$color-group-40056-backgroundColor: rgba(0, 0, 0, 0.00);
$color-rectangle-32336-strokes: #000000;
$color-group-40056-strokes: #000000;
$color-10--strokes: #000000;
$color-20--fills: #000000;
$color-group-40055-backgroundColor: rgba(0, 0, 0, 0.00);
$color-10--fills: #FFFFFF;
$color-group-40056-fills: #000000;
$color-page-1-backgroundColor: #F5F5F5;
$color--color: #000000;
$color-group-40055-fills: #000000;
$color-group-40055-strokes: #000000;
$color--fills: #000000;
$color-20--strokes: #000000;
$color-rectangle-32336-fills: #00C7BE;

// Typography
$typography-20-: -0.2800000011920929, Pretendard, 600, 16.0;
$typography-10-: -0.2800000011920929, Pretendard, 600, 16.0;

// Spacing

// Border Radius
$radius-group-40056-cornerRadius: 4.0px;
$radius-group-40055-cornerRadius: 4.0px;
$radius-rectangle-32336-cornerRadius: 4.0px;
